.card {
    width: 'auto';
    height: 'auto';
   text-align:center;
    border: '1px solid #1e8678';
}

.card img {
    height: 25vh;
    width: 'auto';
}


button{
    position: relative;
    left: 720px;
    
}
